<div class="modules-page">
  <div class="main container clearfix">
    <form action="/modules" method="post">
      <select name="modules[]" id="modules" title="Select Zoho modules" multiple required>
        <% modules.forEach(function(module){ %>
          <option value="<%= module.name %>"><%= module.title %></option>
        <% }); %>
      </select>
      <button>Submit</button>
    </form>
  </div>
</div>
